.all_queries_display {
  float: left;
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
  /* padding: 20px 10px; */
}
.all_query_left_side {
  padding-top: 15px;
  float: left;
  width: 2%;
  height: 100%;
}

.btn1 {
  margin: 0;
  padding: 0;
  border: none;
  background-color: white;
  color: #334443;
}
.btn1 img {
  height: 30px;
  width: 30px;
}

.all_query_right_side {
  float: left;
  width: 98%;
  height: 100%;
}

.btn2 {
  float: right;
  margin: 0 10px;
}

.btn3 {
  margin-right: 40px;
}
