.header {
  margin-bottom: 20px;
  /* border: 2px solid red; */
  height: 60px;
  background-color: #334443;
}

.head1 {
  margin: 0;
  display: inline;
  float: left;
  line-height: 40px;
  color: white;
  padding: 10px;
}

.head2 {
  float: right;
}

.head2:hover {
  background-color: #c6ffc1;
  color: #334443;
}

.btn4 {
  margin: 0;
  padding: 0;
  border: none;
  line-height: 0px;
  padding: 15px;
}
.btn4 img {
  height: 30px;
  width: 30px;
  color: white;
}
